* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://t3.ftcdn.net/jpg/06/59/60/16/360_F_659601698_daOUZD2jz3ItS6WknDAtAjo9nDW8JBUY.jpg");
  background-size: cover;
  background-position: center;
}
h1 {
  color: #fff;
  font-weight: 600;
}
nav {
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
}

.quit {
  padding: 12px 18px;
  background-color: red;
  color: #fff;
  border: none;
  font-weight: 600;
}

.start-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start {
  padding: 12px 18px;
  background-color: green;
  color: #fff;
  border: none;
  font-weight: 600;
}

main {
  padding: 24px 32px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.team-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
}

.over {
  font-size: 24px;
  font-weight: 600;
}

.team-1-name {
  font-size: 24px;
  font-weight: 600;
}

.team-1-score {
  font-size: 48px;
  font-weight: 700;
}

.team-1-wickets {
  font-size: 20px;
  background-color: green;
  width: fit-content;
  font-weight: 600;
  text-align: left;
}

.team-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 70px;
}

.team-2-name {
  font-size: 24px;
  font-weight: 600;
}

.team-2-score {
  font-size: 48px;
  font-weight: 700;
}

.team-2-wickets {
  font-size: 20px;
  background-color: green;
  width: fit-content;
  font-weight: 600;
  text-align: left;
}

.end-of-play {
  filter: brightness(50%);
}

.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
  color: #fff;
  font-size: 24px;
}

footer {
  width: 100%;
  padding: 20px 32px;
  color: #fff;
  background-color: #1b1a1a;
  display: flex;
  justify-content: space-between;
}

footer p {
  font-size: 20px;
  font-weight: 500;
}

.form-div {
  width: 100%;
  height: 100%;
  padding: 20px 32px;
}

.form-div h1 {
  font-size: 48px;
  margin-bottom: 120px;
  text-align: center;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.range {
  display: flex;
  gap: 8px;
}

.select {
  background-color: #292929;
  color: #fff;
  width: 10%;
  border: none;
  height: 30px;
}

.slider {
  -webkit-appearance: none;
  width: 150 px;
  height: 15px;
  background: #000;
  outline: none;
  border: 5px solid rgb(255, 11, 11);
  border-radius: 8px;
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 30px;
  background: #000;
  cursor: pointer;
  border: 5px solid rgb(255, 11, 11);
  border-radius: 4px;
}

/* for firefox */
.slider::-moz-range-thumb {
  width: 100px;
  height: 80px;
  background: #000;
  cursor: pointer;
  border: 5px solid lawngreen;
  border-radius: 4px;
}
